<div>
    <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
    <img ng-src="{{event.imageUrl}}" alt="{{event.imageUrl}}" />
    <button class="btn" ng-click="reload()">Reload</button>
    <div class="row">
        <div class="spann11">
            <h2>{{event.name|uppercase}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div><strong>{{event.date}}</div>
                    <div><strong>{{event.time}}</div>
        
                </div>
                <div class="span4">
                    <address>
                    <div><strong>Address:</strong><br/> {{event.location.address}}
                <br/> {{event.location.city}}, {{event.location.province}}
            </div>
            </address>
        </div>
    </div>

    <!--
    <button class="btn" ng-disabled="BtnDisabled">Disabled</button>
    <div ng-bind-html="snippet">some title</div>
    <div>{{1+2}}</div>
    <div ng-non-bindable>{{1+2}}</div>
    {{[0,1,2][2]}} {{100|currency}}-->


    <hr/>
    <h3>Sessions</h3>
    Order by:
    <select ng-model="sortOrder" class="input-small">
                <option selected value="name">Name</option>
                <option value="-upVoteCount">Votes</option>
            </select> Order by:
    <select ng-model="query.level" class="input-medium">
                <option selected value="">All</option>
                <option value="introductory">Introductory</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
 
    <ul class="thumbnails">
        <li data-ng-repeat="session in event.sessions | orderBy:sortOrder|filter:query" id="session{{session.id}}">
            <div class="row session">
                <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count=session.upVoteCount/>
                <div class="well span9" class=sessionThumbnail>
                    <collapsible title="{{session.name}}">
                    
                    <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                    <span>Duration: {{session.duration|duration}}</span><br/>
                    <span>Level: {{session.level}}</span><br/>
                    <p>{{session.abstract}}</p>
                    </collapsible>

                </div>
            </div>
        </li>
    </ul>
</div>